*{
    padding: 0;
    margin:0;
}
div{
    /* padding: 0px  */
    /* La primer medida se toma para los 4 lados */
    /* padding: 0px 0px  */
    /* La primer medida se toma para arriba y abajo, y la segunda para la derecha e izquierda */
    /* padding: 0px 0px 0px  */
    /* La primer medida se toma para arriba, la segunda se toma para la derecha e izq y la tercera para abajo */
    /* padding: 0px 0px 0px 0px; */
    /* La primer medida se toma para arriba, la segunda para la der, la tercera para abajo y la cuarta para la izq */
    padding: 40px;
    margin: auto;
    border: 15px solid blue;
    background-color: lightgrey;
    width: 300px;
}
div.medida{
    width: 320px;
    padding: 10px;
    border: 5px solid black;
    margin: 0px;
}
p.one{
    word-spacing: 10px;
}
p.two{
    word-spacing: -3px;
}
/* h2{
    letter-spacing: 5px;
}
h3{
    letter-spacing: -2px;
} */
/* h1{
    text-decoration: overline;
    text-decoration-color:blueviolet;
    text-decoration-style: solid; Estilo por defecto */
/* }
h2{
    text-decoration: line-through;
    text-decoration-color: aqua;
    text-decoration-style: double;
}
h3{
    text-decoration: underline;
    text-decoration-color:red;
    text-decoration-style: dotted;
}
p.ex{
    text-decoration: overline underline;
    text-decoration-color:darkcyan ;
}
p.ex1{
    text-decoration: underline;
    text-decoration-style: dashed;
}
p.ex2{
    text-decoration: underline;
    text-decoration-style: wavy;
}
p.ex3{
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: red;
}
a{
    text-decoration: none;
}
img.top{
    vertical-align: top;
}
img.bottom{
    vertical-align: middle;
} */

.uppercase{
    text-transform: uppercase; /*Letras en mayúsculas*/
}
.lowercase{
    text-transform:lowercase; /*Letras en minúsculas*/
}
.capitalize{
    text-transform: capitalize; /*Poner la primer letra de cada palabra en mayúscula*/
}

.centro{
    text-align: center;
}
.izq{
    text-align: left;
}
.der{
    text-align: right;
}
.just{
    width: 350px;
    margin: auto;
    text-align:justify;
}
.indent{
    width: 350px;
    margin: auto;
    text-indent: 50px;
}
img.flotar{
    float: left;
    width: 500px;
    height: auto;
}
p.flotar{
    margin-bottom: 120px;
    /* márgenes
    margin-left: hacia la izquierda
    margin-rigth: hacia la derecha
    margin-top: hacia arriba
    margin-bottom: hacia abajo */
}
main{
    display: flex;
}
nav{
    display: flex;
    justify-content: space-around;
}
h1{
    font-size: 80px; /*Aumenta el tamaño de letra*/
}
.sub{
    font-size: 50px;
    font-weight: bold; /*Poner palabras en negritas con CSS*/
}

@font-face {
    font-family: "myfont";
    src: url("../font/myfont.otf");
}
.font{
    font-family:"myfont";
}